@model f7.Models.WarehouseReceiptModels

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật phiếu nhập</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
<!--  -->
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" name="update-warehouse-receipt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WarehouseReceiptId" />
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DelivererName" class="control-label"></label>
                <input asp-for="DelivererName" class="form-control" />
                <span asp-validation-for="DelivererName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseOrderId" class="control-label"></label>
                <input asp-for="PurchaseOrderId" class="form-control" />
                <span asp-validation-for="PurchaseOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseName" class="control-label"></label>
                <input asp-for="WarehouseName" class="form-control" />
                <span asp-validation-for="WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseId" class="control-label"></label>
                <input asp-for="WarehouseId" class="form-control" />
                <span asp-validation-for="WarehouseId" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>
<!--  -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" id="update-btn" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>
