<div class="input-group mb-3">
    <span class="input-group-text">Tìm theo</span>
    <select class="form-select mw-200" name="searchBy">
        <option value="itemName">Tên sản phẩm</option>
        <option value="warehouseReceiptId">Mã phiếu nhập</option>
        <option selected value="batchId">Mã lô hàng</option>
    </select>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
    <button class="btn btn-success border-0"><i class="fas fa-arrow-right"></i></i></button>
</div>
